<!doctype html>
<html>
<head>
    {% block head-title %}
      <title>Node Authentication</title>
    {% endblock %}

    {% block head-css %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
    {% block header%}
    {% endblock %}
    {% block body%}
    {% endblock %}
    {% block footer%}
    {% endblock %}
    {% block footer-js %}
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="js/build/token.js"></script>
    {% endblock %}
</body>
</html>
