{% extends "./base.html" %}

{% block head-css %}
{% parent %}
<style>
    body 		{ padding-top:80px; word-wrap:break-word; }
</style>
<link rel="stylesheet" href="css/login.css">
{% endblock %}

{% block body %}
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Token Page</h1>
        <a href="/profile" class="btn btn-default btn-sm">Profile View</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>user</strong>: <div id="sessionUser">{{ token.email }}</div>
                </p>
                <p>
                    <strong>token</strong>: <div id="sessionToken">{{ token.token }}</div>
                </p>

                <button class="generateToken btn btn-default" type="button">Generate Token</button>
                <button class="invalidateToken btn btn-default" type="button">Invalidate Token</button>
                <button class="testToken btn btn-default" type="button">Test Token</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}